@import '../../../../common/scss/variables';

.myPostContainer {
  background: #fff;
  box-shadow: $box-shadow-sm;
  border-radius: $border-radius-xl;
  padding: 1.5rem 2rem;
  display: flex;
  max-width: 100%;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  .avatar img {
    width: 55px;
    border-radius: 50%;
    box-shadow: $box-shadow-lg;
    margin-right: 1rem;
  }

  .postContent {
    position: relative;
    width: 90%;

    .name {
      color: $black;
      font-weight: 500;
      margin-bottom: .5rem;
    }

    .input {
      width: 90%;
      border-radius: 11px;
      border: none;
      box-shadow: $box-shadow-sm;
      resize: none;
      padding: 1rem;
      outline: none;
      background: #edf2f6;
    }

    .postText {
      display: block;
      max-width: 96%;
      word-wrap: break-word
    }

    .postMenu {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;

      &:hover {
        display: flex;
        align-items: end;
        background: rgba(213, 212, 212, 0.83);
        border-radius: 50%;
        //height: 2rem;
        //width: 2rem;
      }
    }

    .like {
      display: flex;
      align-items: end;
      position: absolute;
      bottom: 0;
      right: 0;
      cursor: pointer;
      color: $danger-text;
      transition: .2s;

      &:hover {
        transform: scale(1.1);
      }
    }
    .unlike {
      display: flex;
      align-items: end;
      position: absolute;
      bottom: 0;
      right: 0;
      cursor: pointer;
      transition: .2s;

      &:active {
        transform: scale(1.2);
      }
    }
  }

  .textPost {

  }
}

//
//
//
//.nonActive img {
//    border-radius: 100%;
//    max-height: 50px;
//    background-color: #80489C;
//    box-shadow: 3px -3px 10px grey;
//}
//.nonActive {
//    padding: 10px 0;
//}