@import 'common/scss/variables.scss';

* {
  font-size: 15px;
  font-family: 'dm sans', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.appWrapper {
  display: grid;
  grid-template-areas: 'nav cont users';
  grid-template-columns: 16% 58% 26%;
  padding: 0 100px;
  background: #edf2f6;
  height: 100vh;
}

.appWrapperContent {
  grid-area: cont;
}





