@import 'common/scss/variables.scss';

.profileInfoContainer {
    background: #fff;
    box-shadow: $box-shadow-sm;
    border-radius: $border-radius-xl;
    padding: 2rem;
    margin-bottom: 2rem;

    .mainInfoContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .mainInfo {
            display: flex;
            margin-bottom: 1rem;
            width: 80%;

            .avaBox {
                display: inline-block;
                margin-right: 2rem;
            }

            .nameAndStatus {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;

                .fullName {
                    color: $body-color;
                    font-size: 2rem;
                    font-weight: 700;
                    margin-bottom: 5px;
                    letter-spacing: .5px;
                }
            }
        }
    }
    .otherInfo {
        display: flex;
        //justify-content: space-between;

        .aboutMeBlock {
            width: 50%;
            padding-right: 50px;

            &_title {
                font-size: 1.2rem;
                margin-bottom: 5px;
                color: $body-color;
                font-weight: 500;
            }
        }
        .contactsInfoBlock {
            width: 50%;
            padding-right: 50px;

            .link {
                text-decoration: none;
                color: $secondary
            }
            .link:hover {
                text-decoration: none;
                color: $primary-text
            }
        }
    }

}
.description {
    padding: 50px;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.avatar {
    max-height: 80px;
    border-radius: 50%;
}