.header {
    grid-area: h;
    background-color: #432C7A;
}
.header img {
    position: relative;
    left: 50px;
    max-height: 100px;
}
.login {
    float: right;
    color: white;
    text-decoration: none;
}